@page "/home"

@if (ProductGroups != null)
{
    <div class="card-group">
        @foreach (var group in ProductGroups)
        {
            <h2 class="title">@group.Name</h2>

            <ProductCard Products="group.Products" Orders="Constants.Orders" OnProductClicked="OnClicked" />
        }
    </div>
}
else
{
    <span>Менюто зарежда</span>
}

