.card-group {
    display: flex;
    flex-direction: column;
}

    .card-group .title {
        align-self: center;
        margin: 16px 0;
    }

.person-orders-btn {
    position: fixed;
    display: inline-block;
    top: 10px;
    right: 10px;
}

.orders-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    background-color: rgba(20, 20, 20, .3);
    z-index: 10;
}

.orders-visible {
    display: block !important;
}

.orders-drawer {
    right: 0;
    top: 0;
    bottom: 0;
    width: 600px;
    position: fixed;
    height: 100vh;
    padding: 10px;
    display: none;
    z-index: 11;
    background-color: var(--card-color);
}

.orders-content {
    display: grid;
    grid-template-columns: 65% 10% 10% 10%;
    column-gap: 10px;
    row-gap: 10px;
    margin-bottom: 20px;
}

    .orders-content .count {
        align-self: center;
        text-align: center;
    }

    .orders-content .text {
        align-self: center;
    }

.orders-price {
    text-align: end;
}
