@page "/orders"

@if (PersonOrders != null)
{
    if (PersonOrders.Count > 0)
    {
        <ul>
            @foreach (var order in PersonOrders)
            {
                <li>
                    <span>@order.Name (</span>
                    @for (int i = 0; i < order.People.Count; i++)
                    {
                        var person = order.People[i];

                        <span>@person.Name</span>

                        @if (person.Count > 1)
                        {
                            <span style="margin-left: 5px"> @person.Count бр</span>
                        }

                        @if (i != order.People.Count - 1)
                        {
                            <span>, </span>
                        }
                    }
                    <span>) - @order.Count бр.</span>
                </li>
            }
        </ul>
    }
    else
    {
        <span>Няма поръчки</span>
    }
}
else
{
    <span>Поръчките зареждат</span>
}
