@page "/orders"

@if (PersonOrders != null)
{
    if (PersonOrders.Count > 0)
    {
        <ul>
            @foreach (var order in PersonOrders)
            {
                <li>
                    <span>@order.Name (@order.People) - @order.Count бр.</span>
                </li>
            }
        </ul>
    }
    else
    {
        <span>Няма поръчки</span>
    }
}
