@page "/orders"
@inject HttpClient Http

@if (orders != null)
{
    if (orders.Count > 0)
    {
        <ul>
            @foreach (var order in orders)
            {
                <li>
                    <span>@order.Name (@order.People) - @order.Count бр.</span>
                </li>
            }
        </ul>
    }
    else
    {
        <span>Няма поръчки</span>
    }
}

@code {
    private List<OrderDTO>? orders;

    protected override async Task OnInitializedAsync()
    {
        orders = await Http.GetFromJsonAsync<List<OrderDTO>>("App/Orders");
    }
}
