@inherits LayoutComponentBase

@if (HasInitialized)
{
    <NavMenu />

    <main>
        @Body
    </main>
}
else
{
    <span>Сложи много смешна шега тука</span>
}

@if (!PickedName)
{
    <div class="name-dialog">
        <div class="panel">
            <label>Име</label>
            <input type="text" @bind-value="Name">
            <button @onclick="OnPickName">ОК</button>
        </div>
    </div>
}

@if (HasUnavailableOrder)
{
    <div class="name-dialog" @onclick="() => HasUnavailableOrder = false">
        <div class="panel order-panel">
            <h3>Следните поръчки са неналични:</h3>
            <ul>
                @foreach (var order in OrderNames)
                {
                    <li>@order</li>
                }
            </ul>
            <button>ОК</button>
        </div>
    </div>
}

<div class="person-name-btn" @onclick="() => PickedName = false">
    <i class="fa-solid fa-circle-user" />
</div>

<div class="person-name">
    @Constants.PersonName
</div>
