@inherits LayoutComponentBase

@if (HasInitialized)
{
    <NavMenu />
}

<main>
    @Body
</main>

@if (!PickedName)
{
    <div class="name-dialog">
        <div class="panel">
            <label>Име</label>
            <input type="text" @bind-value="Name">
            <button @onclick="OnPickName">ОК</button>
        </div>
    </div>
}

<div class="person-name-btn" @onclick="() => PickedName = false">
    <i class="fa-solid fa-circle-user" />
</div>

<div class="person-name">
    @Constants.PersonName
</div>
