<div class="nav-wrapper">
    <nav>
        <NavLink href="/home">Меню</NavLink>
        <NavLink href="/orders">Поръчки</NavLink>
        @if (Constants.PersonName == "Админ")
        {
            <NavLink href="/add">Добави</NavLink>
            <NavLink href="/edit">Редактирай</NavLink>
        }
        <div class="dot"></div>
    </nav>
</div>