nav {
    width: 310px;
    margin: 10px auto;
}

    nav a {
        color: #f6f4e6;
        text-decoration: none;
        font-size: 1.2em;
        text-transform: uppercase;
        font-weight: 500;
        display: inline-block;
        width: 100px;
        -webkit-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
    }

        nav a:hover {
            color: #fddb3a;
        }

    nav .dot {
        width: 6px;
        height: 6px;
        background: #fddb3a;
        border-radius: 50%;
        opacity: 0;
        -webkit-transform: translateX(25px);
        transform: translateX(25px);
        -webkit-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
    }

    nav a:nth-child(1):hover ~ .dot {
        -webkit-transform: translateX(25px);
        transform: translateX(25px);
        -webkit-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
        opacity: 1;
    }

    nav a:nth-child(2):hover ~ .dot {
        -webkit-transform: translateX(145px);
        transform: translateX(145px);
        -webkit-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
        opacity: 1;
    }

    nav a:nth-child(3):hover ~ .dot {
        -webkit-transform: translateX(245px);
        transform: translateX(245px);
        -webkit-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
        opacity: 1;
    }
