.person-orders-btn {
    position: fixed;
    display: inline-block;
    top: 10px;
    right: 10px;
}

.close-button {
    display: none;
    margin-left: .5em;
    margin-bottom: .5em;
}

.orders-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(20, 20, 20, .3);
    z-index: 10;
    animation: open-orders-background 100ms ease-in;
}

.orders-container-closing {
    animation: close-orders-background 100ms ease-in;
}

.orders-drawer {
    right: 0;
    top: 0;
    bottom: 0;
    width: 600px;
    position: fixed;
    height: 100vh;
    padding: 10px;
    z-index: 11;
    max-width: calc(100vw - 30px);
    background-color: var(--card-color);
    animation: open-orders 100ms ease-in;
}

.orders-drawer-closing {
    animation: close-orders 100ms ease-in;
}

.orders-content {
    display: grid;
    grid-template-columns: 65% 10% 10% 10%;
    column-gap: 10px;
    row-gap: 10px;
    margin-bottom: 20px;
}

    .orders-content .count {
        align-self: center;
        text-align: center;
    }

    .orders-content .text {
        align-self: center;
    }

.orders-price {
    text-align: end;
}

@keyframes open-orders {
    from {
        right: -600px;
    }

    to {
        right: 0;
    }
}

@keyframes close-orders {
    from {
        right: 0;
    }

    to {
        right: -600px;
    }
}

@keyframes open-orders-background {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes close-orders-background {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@media(max-width: 800px) {
    .close-button {
        display: block;
    }
}