@if (Products != null)
{
    <div id="cards">
        @foreach (var product in Products)
        {
            <div class="card @(Orders != null && Orders.Any(f => f.ProductId == product.Id) ? "card-active" : string.Empty)" @onclick="() => OnProductClicked.InvokeAsync(product)">
                <h3>@product.Name</h3>
            </div>
        }
    </div>
}
